<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ola!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        


        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h2>Submit availability for a service provider</h2>
			<!--form th:action="@{/addAvailability(id=${client.clientId})}" method="post"-->
			<form>
            	<div class="form-group">
	                <label class="col-lg-3 control-label">Add for Service Provider (Enter Id)</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="providerId"/>
	                    </div>
                	</div>
			    <div>
			        <label >Available on date</label>
			        <input type="date" name="availableDate"/>
			    </div>
			    <div>
			        <button type="submit" class="button">Submit</button>
			    </div>
			</form>
          </div>
        </div>
      </div>
	</div>
</body>
</html>