<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Eldercare webapp!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Welcome to your care management webapp</h1>

          </div>
        </div>
        
        
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Submit details below</h1>

            <form class="form-horizontal" th:action="@{/client/{id}/serviceProvider(id=${client.clientId})}" method="post" enctype="multipart/form-data" >
            	<fieldset>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Add Provider Name</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="providerName"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Add Location</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="location"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Add Avg Rating</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="avgRating"/>
	                    </div>
                	</div>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Add Services Offered (Separate by commas)</label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" name="servicesOffered"/>
	                    </div>
                	</div>
				    <div>
				        <label class="col-lg-3 control-label">Available on date</label>
				        <input type="date" name="availableDate"/>
				    </div>
            		<div class="form-group">
                		<div class="col-lg-12 col-lg-offset-3">
                			<button type="submit" class="btn btn-primary" name="button">Create</button>
                		</div>
                	</div>
            	</fieldset>
            </form>
          </div>
        </div>

      </div>
	</div>
</body>
</html>